<style type=text/css>
.stationName {
	height: 80px;
    text-align: left;
}
#buttoncontainer .ui-btn-text{
	font-size: 30px;
	color: #000066;
}
</style>
<div data-role="page" id="demo-page">  
	<div data-role="header" data-theme="b">
		<h1>Podcast</h1>
        <%if current_user %>
        	<%= link_to "Logout", destroy_user_session_path, :method=>"delete", :"data-icon"=>"gear", :"class"=>"ui-btn-right"%>
      	<%else%>
        	<%= link_to "Login", new_user_session_path, :"data-icon"=>"gear", :"class"=>"ui-btn-right"%>
      	<%end%>		
	</div>
	<div data-role="content" id='buttoncontainer'>
		<% @stations.each do |station| %>
			<%= link_to station.name, station_shows_path(station), :"data-role"=>"button", :"data-corners"=>"false", :"data-theme"=>"d", :"class"=>"stationName" %>	
		<% end %>
		</ul>
	</div><!-- /content -->	
	<div data-role="footer" data-position="fixed" data-theme="b">
		<h4>powered by @BruinSquare</h4>
	</div><!-- /footer -->	
</div>