<div data-role="page" id="demo-page">  
	<div data-role="header">
		<h1>Podcast</h1>
        <%if current_user %>
        	<%= link_to "Logout", destroy_user_session_path, :method=>"delete", :"data-icon"=>"gear", :"class"=>"ui-btn-right"%>
      	<%else%>
        	<%= link_to "Login", new_user_session_path, :"data-icon"=>"gear", :"class"=>"ui-btn-right"%>
      	<%end%>		
	</div>
	<div data-role="content">
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search station" data-inset="true">
			<% @stations.each do |station| %>
				<li>
					<%= station.name %>
				</li>
			<% end %>
		</ul>
	</div><!-- /content -->	
	<div data-role="footer" data-position="fixed">
		<h4>powered by @BruinSquare</h4>
	</div><!-- /footer -->	
</div>