<div data-role="page" id="demo-page">
	<div data-role="header" data-theme="a">
		<h1>New station</h1>
		<%= link_to 'Back', stations_path,  :"data-icon"=>"back", :"class"=>"ui-btn-left"%>		
	</div>
	<div data-role="content">
        <p id="notice"><%= notice %></p>
		<div class="content-primary">
			<%= render 'form' %>		
		</div>
	</div>
</div>