<div data-role="header" data-theme="a">
	<h1>New user</h1>
	<%= link_to 'Back', users_path, :"data-icon"=>"back", :"data-iconpos"=>"notext", :"data-direction"=>"reverse" %>
</div>
<div data-role="content">
	<div class="content-primary">
		<%= render 'form' %>
	</div>
</div>