<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">JustCast</a>
	  </div>
    <div class="navbar-collapse collapse">
<!--       <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>
      </ul>      
    </div><!--/.nav-collapse -->
  </div>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
		<h1>JustCast Turns Dropbox folders into podcast hosting</h1>
		<p>Simply drag your podcast files into Dropbox folder and we will generate Podcast Feed and Web App that compatible with all major mobile platform.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="#">Sign Up now &raquo;</a>
    </p>			
	</div>
	<div class="container">
		<h1>How it works</h1>
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<img src="https://dl.dropboxusercontent.com/u/9338310/justcast/1.png" class="thumbnail">
				<h2>Create your own podcast station</h2>
				<p>Pick a name and create a new podcast.</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<img src="https://dl.dropboxusercontent.com/u/9338310/justcast/2.png" class="thumbnail">
				<h2>Sign in</h2>
				<p>Sign in with Dropbox and grant JustCast access.</p>
			</div>			
			<div class="col-sm-12 col-md-3">
				<img src="https://dl.dropboxusercontent.com/u/9338310/justcast/3.png" class="thumbnail">
				<h2>Check that out!</h2>
				<p>JustCast created a new folder for the podcast station in your Dropbox.</p>
			</div>
			<div class="col-sm-12 col-md-3">
				<img src="https://dl.dropboxusercontent.com/u/9338310/justcast/4.png" class="thumbnail">
				<h2>Drag the podcast</h2>
				<p>Drag your podcast file in the Dropbox file, and your updates are immediately live.</p>
			</div>			
		</div>
	</div>
	<div class="container">
		<h1>More about JustCast</h1>
		<div style="text-align:center">
		  <iframe src="http://player.vimeo.com/video/66484274?title=0&amp;byline=0&amp;portrait=0" width="500" height="375" frameborder="0" webkitAllowFullScreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowFullScreen="allowFullScreen">
		  </iframe>
		</div>
	</div>	
</div>