<div data-role="page">
	<div data-role="header" data-theme="b" id ="topheader">    
		<h1>JustCast</h1>
	</div>
	<div data-role="content" id="content">
		<div class="ui-grid-solo">
			<iframe src="http://player.vimeo.com/video/66484274?title=0&amp;byline=0&amp;portrait=0" width="480" height="280" frameborder="0" webkitAllowFullScreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowFullScreen="allowFullScreen">
			</iframe>
		</div>
		<div class="ui-grid-solo">
			<h2>JustCast turns Dropbox folders into podcast hosting.</h2>
			
		</div>	
		<h3>How it works</h3>	

		<h3>More about JustCast</h3>
		<p>JustCast provides the easiest and fastest way to publish podcast to the web and iTunes by connecting the contents of a special folder in your Dropbox accout to our optimized hosting platform.  Change to files within the Dropbox folder appear on your website and itune pages within seconds - there are no additional steps to publish your files.</p>
		<p></p>
	</div>
</div>