<div data-role="page" id="demo-page">  
	<div data-role="header" data-theme="a">
	    <h1>Dropbox Testing Page</h1>
	    <%= link_to 'Back', root_path, :"data-icon"=>"home", :"data-iconpos"=>"notext", :"data-direction"=>"reverse"%>
	</div>
	<div data-role="content">
		<div class="content-primary">
			This is the testing content<br/>
			<%=@root_metadata['contents']%><br/>
			<%@urls.each do |url|%>
				<%=link_to "podcast", url%><br/>
			<%end%>			
		</div>
	</div>
</div>