<div data-role="header" data-theme="b">
	<h2>Edit Audio</h2>
	<%= link_to 'Back', @show, {"class"=>"ui-btn-left", "data-icon" => "back"} %>
	<!--
	<%= link_to 'Home', show_audioposts_path(@show), {"class"=>"ui-btn-left", "data-icon" => "home"} %>
	<%= link_to 'Back', show_audiopost_path(@show, @audiopost), {"class"=>"ui-btn-right", "data-icon" => "arrow-r", "data-iconpos"=>"right"} %>
	-->
</div>
<div data-role="content">	
	<%= render 'form' %>
</div>		