<div data-role="header" data-theme="b">
	<h2>Add New Audio</h2>
	<%= link_to 'Back', show_audioposts_path(@show), {"class"=>"ui-btn-left", "data-icon" => "back"} %>
</div>
<div data-role="content">
	<%= render 'form' %>
</div>

