<div data-role="page" id="demo-page">  
	<div data-role="header" data-theme="b">
		<h2>Add New Audio</h2>
		<%= link_to 'Back', @show, {"class"=>"ui-btn-left", "data-icon" => "back"} %>
	</div>
	<div data-role="content">
		<div class="content-primary">
			<%= render 'form' %>
		</div>
	</div>
</div>


