<style type=text/css>
.categoryName {
	height: 100px;
    text-align: left;
}
</style>
<div data-role="page" id="CategoryPage">
	<div data-role="header" data-theme="b">
		<h1><%=@station.name%></h1>
		<%= link_to 'Back',stations_path, {"class"=>"ui-btn-left", "data-icon" => "back", "rel"=>'external'} %>
	</div>
	<div data-role="content">
		<fieldset class="ui-grid-a">
			<% i = 0 %>
			<% @station.shows.select("DISTINCT(CATEGORY)").each do |c| %>
				<% if i%2 == 0 %>
					<div class="ui-block-a">
						<%= link_to c.category, station_shows_path(@station, :category=>c), :"data-role"=>"button", :"data-corners"=>"false", :"data-theme"=>"c", :"class"=>"categoryName" %>	
					</div>						
				<% else %>
					<div class="ui-block-b">
						<a>
						<%= link_to c.category, station_shows_path(@station, :category=>c), :"data-role"=>"button", :"data-corners"=>"false", :"data-theme"=>"c", :"class"=>"categoryName" %>
						</a>
					</div>					
				<% end %>			
				<% i = i + 1 %>
			<% end %>
		</fieldset>
	</div>
</div>