<div data-role="header" data-theme="a">
    <h1>Editing Show</h1>
    <!--
    <%= link_to 'Back', shows_path, :"data-icon"=>"home", :"data-iconpos"=>"notext", :"data-direction"=>"reverse" %>
	-->
    <%= link_to 'Back', @show, :"data-icon"=>"home", :"data-iconpos"=>"notext", :"data-direction"=>"reverse"%>
</div>
<div data-role="content">
	<div class="content-primary">
		<%= render 'form' %>
	</div>
</div>