<div data-role="header" data-theme="a">
    <h1>New Show</h1>
    <%= link_to 'Home', shows_path, :"data-icon"=>"home", :"data-iconpos"=>"notext", :"data-direction"=>"reverse" %>
</div>
<div data-role="content">
	<div class="content-primary">
		<%= render 'form' %>
	</div>
</div>

