<div data-role="page" id="CategoryPage">
	<div data-role="header" data-theme="b">
		<h1>Music</h1>
		<%= link_to 'Back',"#", {"class"=>"ui-btn-left", "data-icon" => "back", "rel"=>'external'} %>
	</div>
	<div data-role="content">

	</div>
	<div data-role="footer" data-position="fixed" data-theme="b">
		<h4>powered by @BruinSquare</h4>
	</div><!-- /footer -->		
</div>